th,
td {
    min-width: 0;
}

.side-bar { 
    @include mq(lg) {
        width: $nav-width;
    }
}

.main {
    @include mq(#{$content-width + $nav-width}) {
        max-width: #{$content-width + $nav-width};
    }

    @include mq(lg) {
        margin-left: calc(
            (100% - #{$nav-width + $content-width}) / 2
        );
    }
}