th,
td {
    min-width: 0;
}

.side-bar { 
    @include mq(lg) {
        width: $nav-width;
    }
}

.main {
    @include mq(md) {
        max-width: #{$content-width + $nav-width};
    }

    @include mq(lg) {
        margin-left: max((100% - #{$nav-width + $content-width}) / 2, $nav-width);
    }
}