{% if page.url != "/" %}
    <script src="https://giscus.app/client.js"
        data-repo="AntiCope/anticope.ml"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzOTQ5MTc2NTA="
        data-category="General"
        data-category-id="DIC_kwDOF4n3Es4CBScn"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://anticope.ml/resources/giscus.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}

<p>
  <a href="#top">Back to top</a>
</p>
