<meta name="google-site-verification" content="eJAZtihmv0cJwd54kImmb2IfwLskeCfyW7gEm_HgXd8" />
<link rel="shortcut icon" type="image/png" href="https://anticope.ml/meteor-lists/resources/icon.png">
<meta property="og:image" content="https://anticope.ml/meteor-lists/resources/icon.png">
<meta property="og:image:width" content="200">
<meta property="og:image:height" content="200">
<meta property="og:image:alt" content="icon">
<meta name="author" content="C10udburst, StormyBytes">
<meta name="keywords" content="minecraft, minecraft-mod, minecraft-fabric, meteor-client, utility-mod">
<link rel="apple-touch-icon" href="https://anticope.ml/meteor-lists/resources/icon.png">
