#addons-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addon-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.Filter {
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.Search {
    background-color: var(--bg-color);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.25em;
    color: var(--fg-color);
    font-size: x-large;
}

.CheckBox {
    margin-left: 1.25rem;
    position: relative;
    top: -0.25rem;
    width: 2.5rem;
}

.CheckBox::after {
    display: block;
    position: relative;
    content: ' ';
    top: -50%;
    border-radius: 8px;
    background-color: var(--bg-color);
    width: 2.5rem;
    height: 2.5rem;
}

.CheckBox:checked:after {
    background-color: var(--prim-color);
}