.AddonCard {
    border-radius: 8px;
    box-shadow: rgb(15 17 21 / 25%) 0px 4px 6px, rgb(15 17 21 / 10%) 0px 5px 7px;
    margin: 0.75rem 0.75rem;
    padding: 1em 1em;
    background-color: var(--bg1-color);
    width: 25em;
    height: 15em;
    position: relative;
}

.AddonCard .Close {
    background: none;
    border: none;
    font-size: x-large;
    padding: 0.5rem 0.5rem;
    color: var(--prim-color);
    position: absolute;
    right: 1em;
    top: 1rem;
}

.AddonCard.active {
    transition: all 0.75s ease;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 80%;
    height: auto;
}

.AddonCard .IconLinks svg {
    color: var(--prim-color);
    width: 2.125em;
    height: 2.125em;
    margin: 0 0.5rem;
}

.AddonCard h3 {
    margin: 0;
}

.AddonCard p {
    margin: 0 0;
    margin-bottom: 1.5rem;
    word-break: break-word;
    text-align: justify;
}

.AddonCard .Icon {
    width: 3em;
    height: 3rem;
    margin-right: 1rem;
    background-color: var(--bg-color);
    padding: 0.3rem;
    border-radius: 8px;
}

.AddonCard .Status {
    margin: 0.5em 0.25em;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .AddonCard {
        padding: 1em 2em;
        margin: 5px 1px;
    }
}

.AddonCard .bottom {
    position: absolute;
    bottom: 1em;
}