.Button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border: 2px solid var(--prim-color);
    border-radius: 0.25em;
    padding: 0.6em 1.25em;
    margin: 0em 0.5em;
    user-select: none;
    line-height: 1.15;
    background: var(--prim-color);
    color: var(--bg-color);
    transition: all 0.5s ease;
}

.Button:hover, .Button:active {
    background-color: transparent;
    color: var(--prim-color);
}