.EndContainer {
    filter: blur(2px) saturate(1.25) brightness(0.8);
}

@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    .EndContainer {
        filter: none;
    }
}

.EndContainer {
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.65;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}