.Header {
    display: flex;
    position: fixed;
    top: 0px;
    height: 3.5em;
    width: 100%;
    z-index: 3;
    background-color: var(--bg-color);
    box-shadow: rgb(36 41 51 / 15%) 0px 5px 10px 0px;
    user-select: none;
    justify-content: space-between;
}

.Header .Logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.Header .Logo img {
    width: 5em;
    height: 5em;
}

.Header nav {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.Header nav a {
    color: var(--prim-color);
}

.Header nav svg {
    width: 2.125em;
    height: 2.125em;
    margin: 0 0.5rem;
}