*, ::before, ::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  width: 100%;
  border: solid 1px var(--bg-color);
}

.appear {
  animation: appear 0.25s ease-in;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

a {
  text-decoration: inherit;
}